- name: Install mail packages
  ansible.builtin.apt:
    name:
      - postfix
      - dovecot-imapd
      - dovecot-pop3d
      - dovecot-lmtpd
      - dovecot-core
      - dovecot-sieve
    state: present
    update_cache: true

- name: Configure Postfix main.cf
  ansible.builtin.template:
    src: postfix/main.cf.j2
    dest: /etc/postfix/main.cf
    owner: root
    group: root
    mode: "0644"
  notify: Restart postfix

- name: Configure Postfix master.cf
  ansible.builtin.template:
    src: postfix/master.cf.j2
    dest: /etc/postfix/master.cf
    owner: root
    group: root
    mode: "0644"
  notify: Restart postfix

- name: Configure Dovecot
  ansible.builtin.template:
    src: dovecot/dovecot.conf.j2
    dest: /etc/dovecot/dovecot.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart dovecot

- name: Ensure services are enabled and started
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - postfix
    - dovecot
